---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
   <header>   	
		<div class="row">

			<div class="top-bar">
				<a class="menu-toggle" href="#"><span>Menu</span></a>

				<div class="logo">
				<a href="index.html">MENU</a>
			</div>		      

				<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Inicio</a></li>
						<li><a class="smoothscroll"  href="#about" title="">Acerca de mí</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Experiencia</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Servicios</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contactame</a></li>	
						<li><a href="styles.html" title="">Style Demo</a></li>				
					</ul>
				</nav>    		
			</div> <!-- /top-bar --> 
			
		</div> <!-- /row --> 		
	</header> <!-- /header -->

 <!-- intro section
================================================== -->
<section id="intro">   

	<div class="intro-overlay"></div>	

	<div class="intro-content">
		<div class="row">

			<div class="col-twelve">

				<h5>Hello, World.</h5>
				<h1>Alberto Olave</h1>

				<p class="intro-position">
					<span>Programador</span>
					<span>Desarrollador de software</span> 
				</p>

				<a class="button stroke smoothscroll" href="#about" title="">Mas de mi</a>

			</div>  
			
		</div>   		 		
	</div> <!-- /intro-content --> 

	<ul class="intro-social">        
		<li>
			<svg style="color:white" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
				<path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
			</svg>
		</li>

		<li>
			<svg xmlns="http://www.w3.org/2000/svg" style="color:white" width="30" height="30" fill="currentColor" class="bi bi-threads" viewBox="0 0 16 16">
				<path d="M6.321 6.016c-.27-.18-1.166-.802-1.166-.802.756-1.081 1.753-1.502 3.132-1.502.975 0 1.803.327 2.394.948s.928 1.509 1.005 2.644q.492.207.905.484c1.109.745 1.719 1.86 1.719 3.137 0 2.716-2.226 5.075-6.256 5.075C4.594 16 1 13.987 1 7.994 1 2.034 4.482 0 8.044 0 9.69 0 13.55.243 15 5.036l-1.36.353C12.516 1.974 10.163 1.43 8.006 1.43c-3.565 0-5.582 2.171-5.582 6.79 0 4.143 2.254 6.343 5.63 6.343 2.777 0 4.847-1.443 4.847-3.556 0-1.438-1.208-2.127-1.27-2.127-.236 1.234-.868 3.31-3.644 3.31-1.618 0-3.013-1.118-3.013-2.582 0-2.09 1.984-2.847 3.55-2.847.586 0 1.294.04 1.663.114 0-.637-.54-1.728-1.9-1.728-1.25 0-1.566.405-1.967.868ZM8.716 8.19c-2.04 0-2.304.87-2.304 1.416 0 .878 1.043 1.168 1.6 1.168 1.02 0 2.067-.282 2.232-2.423a6.2 6.2 0 0 0-1.528-.161"/>
			  </svg>
		</li>

	  <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li>
	  <li><a href="#"><i class="fa fa-threads"></i></a></li>
	  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
	  <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
   </ul> <!-- /intro-social -->      	

</section> <!-- /intro -->


<!-- about section
================================================== -->
<section id="about">  

	<div class="row section-intro">
		<div class="col-twelve">

			<h5>Acerca de mí</h5>
			<h1>Permíteme presentarme.</h1>

			<div class="intro-info">

				<img src="images/profile-pic.jpg" alt="Profile Picture">

				<p class="lead">
					Soy un desarrollador de software apasionado con una sólida experiencia en la creación de aplicaciones dinámicas y eficientes. Tengo experiencia en varios 
					lenguajes de programación, y 
					me especializo en desarrollo web y desarrollo mobil. Disfruto resolviendo problemas complejos y aprendiendo continuamente nuevas tecnologías para mejorar mis habilidades. 
					Ya sea trabajando en el front-end o el back-end, 
					mi objetivo es crear experiencias fluidas y fáciles de usar. Creo en el poder del código para impulsar la innovación y siempre estoy buscando nuevos proyectos emocionantes en los que contribuir y crecer.
				</p>
			</div>   			

		</div>   		
	</div> 

	<!-- * PERFIL -->

	<div class="row about-content">

		<div class="col-six tab-full">

			<h3>Perfil</h3>
			<p></p>

			<ul class="info-list">
				<li>
					<strong>Nombre:</strong>
					<span>Alberto Olave</span>
				</li>
				<li>
					<strong>Fecha de Nacimiento:</strong>
					<span>16 de enero de 1988</span>
				</li>
				<li>
					<strong>Cargos:</strong>
					<span>Desarrollador de software</span>
				</li>
				<li>
					<strong>Email:</strong>
					<span>luis.olave.carvajal@gmail.com</span>
				</li>

			</ul> 
		</div>

		<div class="col-six tab-full">

			<h3>Skills</h3>
			<p></p>
			
			<img style="width:100px" src="/images/icons/php.svg" alt="">
			<img style="width:100px" src="/images/icons/python.svg" alt="">
			<img style="width:100px" src="/images/icons/angular.svg" alt="">
			<img style="width:100px" src="/images/icons/laravel.svg" alt="">
			<img style="width:100px" src="/images/icons/flutter.svg" alt="">
			<img style="width:100px" src="/images/icons/git.svg" alt="">

			

		</div>

	</div>

	<div class="row button-section">
		<div class="col-twelve">
			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Escribeme</a>
			<a href="#" title="Download CV" class="button button-primary">Descargar CV</a>
		</div>   		
	</div>

</section> <!-- /process-->    


<!-- resume Section
================================================== -->
 <section id="resume" class="grey-section">

	 <div class="row section-intro">
		<div class="col-twelve">

			<h5>Experiencia Laboral</h5>
			<!-- <h1>More of my credentials.</h1> -->

			<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

		</div>   		
	</div> <!-- /section-intro--> 

	<div class="row resume-timeline">

		<div class="col-twelve resume-header">

			<h2>Work Experience</h2>

		</div> <!-- /resume-header -->


		<div class="col-twelve">
			<!-- * NEUMACHILE LTDA -->
			<div class="timeline-wrap">
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>WEB DEVELOPER</h3>
						<p>2021 - ACTUALIDAD</p>
					</div>
					<div class="timeline-content">
						<h4>URRUTIA Y OTAROLA LTDA</h4>
						<p>
							Desarrollo web en PHP con experiencia en Laravel 7, 8 y 9, así como en el desarrollo de software administrativo con Laravel. 
							Conocimientos en la creación de APIs y web services para e-commerce, así como en el desarrollo de aplicaciones en Django. 
							Experiencia en el desarrollo de aplicaciones de escritorio para la administración de datos en Python. 
							Capacidad para realizar integraciones con plataformas como Transbank, SAP y WordPress, y habilidades en la administración de correo electrónico, 
							hardware y conexión de red. Además, experiencia en el desarrollo móvil con Flutter, 
							creando aplicaciones eficientes y de alto rendimiento para múltiples plataformas.
						</p>
					</div>
				</div> 
			</div> 

			<!-- * INGENIOPC -->
			<div class="timeline-wrap">
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
						<!-- <i class="fa fa-graduation-cap"></i> -->
					</div>
					<div class="timeline-header">
						<h3>SOFTWARE DEVELOPER</h3>
						<p>2015 - 2019</p>
					</div>
					<div class="timeline-content">
						<h4>INGENIOPC</h4>
						<p>
							Desarrollo web utilizando PHP y el framework Laravel, así como en la creación de software de gestión y 
							administración utilizando Python. También en la creación de software para el control de inventarios y en el desarrollo de software contable utilizando Python. 
							Además, habilidades en el mantenimiento de estos sistemas y en el desarrollo de Front-End utilizando Bootstrap.
						</p>
					</div>
				</div> 
			</div> 

			<!--  *  NOVASPORTS -->
			<div class="timeline-wrap">
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>SOFTWARE DEVELOPER</h3>
						<p>2015 - 2021</p>
					</div>
					<div class="timeline-content">
						<h4>NOVASPORTS</h4>
						<p>
							Software de gestión en Python, desarrollo web en PHP nativo. Mantenimiento de servicios de email, red y mejoras del software. 
							Administrador de red y servidores NAS y web.
						</p>
					</div>
				</div> 
			</div> 

			<!-- * STARGYM -->
			<div class="timeline-wrap">
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>SOFTWARE DEVELOPER</h3>
						<p>2013 - 2015</p>
					</div>
					<div class="timeline-content">
						<h4>STARGYM</h4>
						<p>
							Software de gestión en Python, desarrollo web en PHP nativo. Mantenimiento de servicios de email, red y mejoras del software. 
							Administrador de red y servidor, desarrollo de software para control de acceso y gestión contable, control de acceso biométrico con VB y Python.
						</p>
					</div>
				</div> 
			</div> 
			
			
			
			


		</div> <!-- /col-twelve -->
		
	</div> <!-- /resume-timeline -->
	
	<div class="row resume-timeline">

		<div class="col-twelve resume-header">

			<h2>Education</h2>

		</div> <!-- /resume-header -->

		<div class="col-twelve">

			<div class="timeline-wrap">
				<!-- * ciber seguridad -->
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>2024</h3>
						<!-- <p>2023</p> -->
					</div>
					<div class="timeline-content">
						<h4>DIPLOMADO CIBER SEGURIDAD</h4>
						<p>Universidad De Chile</p>
						<!-- <p>
							
						</p> -->
					</div>
				</div> <!-- /timeline-block -->

				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>2023</h3>
						<!-- <p>2023</p> -->
					</div>
					<div class="timeline-content">
						<h4>DIPLOMADO DATA SCIENCE AND MACHINE LEARNING</h4>
						<p>Pontificia Universidad Católica de Chile</p>
					
					</div>
				</div> <!-- /timeline-block -->
				
				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>2022</h3>
					</div>
					<div class="timeline-content">
						<h4>CURSOS PYTHON, JS, TS, HTML, ETC</h4>
						<p>Udemy, Platzi</p>
					
					</div>
				</div> <!-- /timeline-block -->

				<div class="timeline-block">
					<div class="timeline-ico">
						<i class="fa fa-briefcase"></i>
					</div>
					<div class="timeline-header">
						<h3>2006 - 2008</h3>
						<!-- <p>2023</p> -->
					</div>
					<div class="timeline-content">
						<h4>AUDITORIA</h4>
						<p>U. NACIONAL ANDRES BELLO</p>
						<!-- <p>
							
						</p> -->
					</div>
				</div> <!-- /timeline-block -->


				

			</div> <!-- /timeline-wrap -->   			

		</div> <!-- /col-twelve -->
		
	</div> <!-- /resume-timeline -->
	 
 </section> <!-- /features -->


 <!-- Portfolio Section
================================================== -->
 <section id="portfolio">

	 <div class="row section-intro">
		<div class="col-twelve">

			<h5>Portfolio</h5>
			<h1>Mira algunos de mis trabajos.</h1>

			<p class="lead">
				El desarrollo de software móvil y web implica crear aplicaciones para dispositivos móviles y navegadores, adaptándose a diferentes plataformas. Se enfoca en ofrecer experiencias optimizadas y ágiles, combinando las mejores prácticas de desarrollo nativo, multiplataforma y web responsiva.
			</p>

		</div>   		
	</div> <!-- /section-intro--> 

	<div class="row portfolio-content">

		<div class="col-twelve">

			<!-- portfolio-wrapper -->
		  <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

			  <div class="bgrid folio-item">
				<div class="item-wrap">
					<img src="images/proyectos/geo_cliente.webp" alt="Liberty">
				   <a href="#modal-01" class="overlay">	                  	           
					  <div class="folio-item-table">
						  <div class="folio-item-cell">
									 <h3 class="folio-title">Geoclientes</h3>	     					    
									   <span class="folio-types">
											Gestión y asistencia a clientes
									 </span>
								 </div>	                      	
					  </div>                    
				   </a>
				</div>	               
				 </div> <!-- /folio-item -->

				 <div class="bgrid folio-item">
				<div class="item-wrap">
					<img src="images/proyectos/neumatruck.webp" alt="Shutterbug">
					<a href="#modal-02" class="overlay">              		                  
					  <div class="folio-item-table">
						  <div class="folio-item-cell">
							<h3 class="folio-title">Neumatruck</h3>	     					    
									<span class="folio-types">
									E-ommerce Neumáticos Para Camión
								</span>		     		
							</div> 	                      	
					  </div>                    
				   </a>
				</div>
				 </div> <!-- /folio-item -->

			 <div class="bgrid folio-item">
				<div class="item-wrap">
					<img src="images/proyectos/premium.webp"alt="Clouds">
				   <a href="#modal-03" class="overlay">             		                  
					  <div class="folio-item-table">
						  <div class="folio-item-cell">
							  <h3 class="folio-title">Premium</h3>	     					    
									  <span class="folio-types">
										E-commerce para distribuidores de productos automotrices
									</span>		     		
								 </div> 	                      	
					  </div>                    
				   </a>
				</div>
				 </div> <!-- /folio-item -->

			 <div class="bgrid folio-item">
				<div class="item-wrap">
					<img src="images/proyectos/neumaflotas.webp" alt="Beetle">
				   <a href="#modal-04" class="overlay">                  	                 
					  <div class="folio-item-table">
						  <div class="folio-item-cell">
							  <h3 class="folio-title">Neumaflotas</h3>	     					    
									  <span class="folio-types">
											Software de gerenciamiento de flotas vehiculares
									</span>		     		
								 </div>  	                      	
					  </div>                    
				   </a>
				</div>
			</div>

			<div class="bgrid folio-item">
				<div class="item-wrap">
					<img src="images/proyectos/neumagenda.webp" alt="Beetle">
				   <a href="#modal-04" class="overlay">                  	                 
					  <div class="folio-item-table">
						  <div class="folio-item-cell">
							  <h3 class="folio-title">Neumagenda</h3>	     					    
									  <span class="folio-types">
										Software para agendar y comunicación interna
									</span>		     		
								 </div>  	                      	
					  </div>                    
				   </a>
				</div>
			</div>

			<div class="bgrid folio-item">
				<div class="item-wrap">
					<img src="images/proyectos/neumaequipos.webp" alt="Beetle">
				   <a href="#modal-04" class="overlay">                  	                 
					  <div class="folio-item-table">
						  <div class="folio-item-cell">
							  <h3 class="folio-title">Neumaequipos</h3>	     					    
								<span class="folio-types">
									E-commerce de venta de productos para serviteca
								</span>		     		
							</div>  	                      	
					  </div>                    
				   </a>
				</div>
			</div>


				

			 <!-- modal popups - begin
			 ============================================================= -->
			 <div id="modal-01" class="popup-modal slider mfp-hide">	

					  <div class="media">
						  <img src="images/portfolio/modals/m-liberty.jpg" alt="" />
					  </div>      	

					<div class="description-box">
					   <h4>Liberty</h4>		      
					   <p>
						<!-- En mi portfolio, podrás explorar una selección de mis proyectos más destacados, que incluyen desarrollos de software tanto para aplicaciones móviles como web. Cada trabajo refleja mi experiencia en crear soluciones innovadoras y funcionales, adaptadas a las necesidades específicas de los clientes. -->
					   </p>

					   <div class="categories">Web Development</div>			               
					</div>

				  <div class="link-box">
					 <a href="http://www.behance.net">Details</a>
					   <a href="#" class="popup-modal-dismiss">Close</a>
				  </div>		      

				</div> <!-- /modal-01 -->

				<div id="modal-02" class="popup-modal slider mfp-hide">	

					  <div class="media">
						  <img src="images/portfolio/modals/m-shutterbug.jpg" alt="" />
					  </div>      	

					<div class="description-box">
					   <h4>Shutterbug</h4>		      
					   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					   <div class="categories">Web Design</div>			               
					</div>

				  <div class="link-box">
					 <a href="http://www.behance.net">Details</a>
					   <a href="#" class="popup-modal-dismiss">Close</a>
				  </div>		      

				</div> <!-- /modal-02 -->

				<div id="modal-03" class="popup-modal slider mfp-hide">	

					  <div class="media">
						  <img src="images/portfolio/modals/m-clouds.jpg" alt="" />
					  </div>      	

					<div class="description-box">
					   <h4>Clouds</h4>		      
					   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					   <div class="categories">Web Design</div>			               
					</div>

				  <div class="link-box">
					 <a href="http://www.behance.net">Details</a>
					   <a href="#" class="popup-modal-dismiss">Close</a>
				  </div>		      

				</div> <!-- /modal-03 -->

				<div id="modal-04" class="popup-modal slider mfp-hide">	

					  <div class="media">
						  <img src="images/portfolio/modals/m-beetle.jpg" alt="" />
					  </div>      	

					<div class="description-box">
					   <h4>Beetle</h4>		      
					   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					   <div class="categories">Branding</div>			               
					</div>

				  <div class="link-box">
					 <a href="http://www.behance.net">Details</a>
					   <a href="#" class="popup-modal-dismiss">Close</a>
				  </div>		      

				</div> <!-- /modal-04 -->

				<div id="modal-05" class="popup-modal slider mfp-hide">	

					  <div class="media">
						  <img src="images/portfolio/modals/m-lighthouse.jpg" alt="" />
					  </div>      	

					<div class="description-box">
					   <h4>Lighthouse</h4>		      
					   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					   <div class="categories">Web Development</div>			               
					</div>

				  <div class="link-box">
					 <a href="http://www.behance.net">Details</a>
					   <a href="#" class="popup-modal-dismiss">Close</a>
				  </div>		      

				</div> <!-- /modal-05 -->

				<div id="modal-06" class="popup-modal slider mfp-hide">	

					  <div class="media">
						  <img src="images/portfolio/modals/m-salad.jpg" alt="" />
					  </div>      	

					<div class="description-box">
					   <h4>Salad</h4>		      
					   <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

					   <div class="categories">Branding</div>			               
					</div>

				  <div class="link-box">
					 <a href="http://www.behance.net">Details</a>
					   <a href="#" class="popup-modal-dismiss">Close</a>
				  </div>		      

				</div> <!-- /modal-06 -->


				<!-- modal popups - end
			 ============================================================= -->

		  </div> <!-- /portfolio-wrapper --> 

		</div>  <!-- /twelve -->   

	</div> <!-- /portfolio-content --> 
	 
 </section> <!-- /portfolio --> 


 <!-- CTA Section
================================================== -->
 <section id="cta" class="grey-section">
	<div class="row cta-content">
		<div class="col-twelve section-ads">  
			  <h2 class="h01">Muestra de Mi Trabajo</h2>
		   <p class="lead">
			En mi portfolio, podrás explorar una selección de mis proyectos más destacados, que incluyen desarrollos de software tanto para aplicaciones móviles como web. Cada trabajo refleja mi experiencia en crear soluciones innovadoras y funcionales, adaptadas a las necesidades específicas de los clientes.
			 </p>
			 <div class="action">
			   <a class="button button-primary large"  href="#contact">Contactame</a>
		   </div>		     	
		</div>
	</div> <!-- /cta-content -->
</section> <!-- /cta --> 
 
 <!-- services Section
================================================== -->
 <section id="services">

	 <div class="overlay"></div>

	 <div class="row section-intro">
		<div class="col-twelve">

			<h5>Servicios</h5>
			<h1>¿Qué puedo hacer por ti?</h1>

			<p class="lead">
				Diseño y desarrollo de sitios web funcionales y visualmente atractivos, enfocados en ofrecer una experiencia de usuario óptima. Desde la concepción de la interfaz hasta la implementación técnica, mi enfoque en webdesign garantiza que cada proyecto sea intuitivo, responsivo y alineado con las necesidades del cliente.
			</p>

		</div>   		
	</div> <!-- /section-intro -->

	<div class="row services-content">

		<div id="owl-slider" class="owl-carousel services-list">

		   <div class="service">	

			   <span class="icon"><i class="icon-earth"></i></span>            

			 <div class="service-content">	

				  <h3>Webdesign</h3>

				 <p class="desc">
					Diseño y desarrollo de sitios web funcionales y visualmente atractivos, enfocados en ofrecer una experiencia de usuario óptima. 
					Desde la concepción de la interfaz hasta la implementación técnica, mi enfoque en webdesign garantiza que cada proyecto sea intuitivo, 
					responsivo y alineado con las necesidades del cliente.
				  </p>
				  
			  </div> 	         	 

			 </div> <!-- /service -->

			 <div class="service">	
				 <span class="icon"><i class="icon-window"></i></span>                          
				<div class="service-content">	
					<h3>Web Development</h3>  
					<p class="desc">
						Desarrollo de soluciones web completas, desde la creación de sitios dinámicos hasta aplicaciones web interactivas. Mi enfoque en web development abarca tanto el front-end como el back-end, asegurando un rendimiento óptimo, escalabilidad y una experiencia de usuario fluida.
					</p>
				</div>	                          
			</div>

			<div class="service">
				<span class="icon"><i class="icon-paint-brush"></i></span>		            
				<div class="service-content">
					<h3>Branding</h3>
					<p class="desc">
						Creación de identidades de marca impactantes y coherentes, que capturan la esencia y los valores de cada cliente. Mi enfoque en branding incluye el diseño de logotipos, paletas de colores, tipografías y elementos visuales que fortalecen la presencia de marca y comunican efectivamente su mensaje.
					</p> 
				</div> 	            	               
			</div>

			 <div class="service">
				 <span class="icon"><i class="icon-toggles"></i></span>	              
				<div class="service-content">
					<h3>UI/UX Design</h3>
					<p class="desc">
						Diseño de interfaces y experiencias de usuario centradas en la facilidad de uso y la estética. Mi enfoque en UI/UX design se centra en crear interfaces intuitivas y atractivas, asegurando que cada interacción sea fluida y satisfactoria para el usuario. Trabajo para equilibrar la funcionalidad y el diseño visual, ofreciendo soluciones que cumplen con las necesidades del usuario y mejoran la usabilidad.	
					</p> 
				</div>                
			 </div>

			<!-- <div class="service">
				<span class="icon"><i class="icon-image"></i></span>	            
				<div class="service-content">
					<h3>Graphics Design</h3>
					<p class="desc">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
					</p> 
				</div>	               
			</div>  -->

			<div class="service">

				<span class="icon"><i class="icon-chat"></i></span>	   	           

			 <div class="service-content">

				  <h3>consultoría</h3>

				 <p class="desc">
					Ofrezco servicios de consultoría para ayudar a las empresas a optimizar sus procesos digitales y mejorar su presencia en línea. Mi enfoque estratégico se basa en un análisis profundo del mercado, identificación de oportunidades de crecimiento y la implementación de soluciones personalizadas. Desde la planificación hasta la ejecución, trabajo en colaboración con mis clientes para desarrollar estrategias que impulsen la innovación y maximicen los resultados.
				</p> 
					 
			 </div>	               

			</div> <!-- /service -->

	   </div> <!-- /services-list -->
		
	</div> <!-- /services-content -->
	 
 </section> <!-- /services -->	


 <!-- stats Section
================================================== -->
 <section id="stats" class="count-up">

	 <div class="row">
		 <div class="col-twelve">

			 <div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

				 <div class="bgrid stat">

					 <div class="icon-part">
						 <i class="icon-pencil-ruler"></i>
					 </div>

					 <h3 class="stat-count">
						 1500
					 </h3>

					 <h5 class="stat-title">
						 Projects Completed
					 </h5>

				 </div> 

				 <div class="bgrid stat">

					 <div class="icon-part">
						 <i class="icon-users"></i>
					 </div>

					 <h3 class="stat-count">
						 900
					 </h3>

					 <h5 class="stat-title">
						 Happy Clients
					 </h5>

				 </div> 

				 <div class="bgrid stat">

					 <div class="icon-part">
						 <i class="icon-badge"></i>
					 </div>

					 <h3 class="stat-count">
						 200
					 </h3>

					 <h5 class="stat-title">
						 Awards Received
					 </h5>

				 </div> 								

				 <div class="bgrid stat">

					 <div class="icon-part">
						 <i class="icon-light-bulb"></i>
					 </div>

					 <h3 class="stat-count">
						 120
					 </h3>

					 <h5 class="stat-title">
						 Crazy Ideas
					 </h5>

				 </div> 

				 <div class="bgrid stat">

					 <div class="icon-part">
						 <i class="icon-cup"></i>
					 </div>

					 <h3 class="stat-count">
						 1500
					 </h3>

					 <h5 class="stat-title">
						 Coffee Cups
					 </h5>

				 </div> 

				 <div class="bgrid stat">

					 <div class="icon-part">
						 <i class="icon-clock"></i>
					 </div>

					 <h3 class="stat-count">
						 7200
					 </h3>

					 <h5 class="stat-title">
						 Hours
					 </h5>

				 </div> 

			 </div> <!-- /stats-list -->

		 </div> <!-- /twelve -->
	 </div> <!-- /row -->

 </section> 

 
<!-- contact
================================================== -->
 <section id="contact">

	 <div class="row section-intro">
		<div class="col-twelve">

			<h5>Contactame</h5>
			<h1>Me encantaria ayudarte.</h1>

			<p class="lead">Envíame tus requerimientos y te contactaré a la brevedad.</p>

		</div> 
	</div> <!-- /section-intro -->

	<div class="row contact-form">

		<div class="col-twelve">

		 <!-- form -->
		 <form name="contactForm" id="contactForm" method="post" action="">
			   <fieldset>

			   <div class="form-field">
						 <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
			   </div>
			   <div class="form-field">
					  <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
				</div>
			   <div class="form-field">
						 <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
				</div>                       
			   <div class="form-field">
					  <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
				</div>                      
			  <div class="form-field">
				  <button class="submitform">Submit</button>
				  <div id="submit-loader">
					 <div class="text-loader">Sending...</div>                             
						  <div class="s-loader">
								   <div class="bounce1"></div>
								   <div class="bounce2"></div>
								   <div class="bounce3"></div>
							 </div>
						 </div>
			   </div>

			   </fieldset>
		   </form> <!-- Form End -->

		 <!-- contact-warning -->
		 <div id="message-warning">            	
		 </div>            
		 <!-- contact-success -->
		   <div id="message-success">
			<i class="fa fa-check"></i>Your message was sent, thank you!<br>
		   </div>

	  </div> <!-- /col-twelve -->
		
	</div> <!-- /contact-form -->

	<div class="row contact-info">

		<div class="col-four tab-full">

			<div class="icon">
				<i class="icon-pin"></i>
			</div>

			<h5>Where to find me</h5>

			<p>
		 1600 Amphitheatre Parkway<br>
		 Mountain View, CA<br>
		 94043 US
		 </p>

		</div>

		<div class="col-four tab-full collapse">

			<div class="icon">
				<i class="icon-mail"></i>
			</div>

			<h5>Email Me At</h5>

			<p>someone@kardswebsite.com<br>
				info@kardswebsite.com			     
			</p>

		</div>

		<div class="col-four tab-full">

			<div class="icon">
				<i class="icon-phone"></i>
			</div>

			<h5>Call Me At</h5>

			<p>Phone: (+63) 555 1212<br>
				Mobile: (+63) 555 0100<br>
				  Fax: (+63) 555 0101
			</p>

		</div>
		
	</div> <!-- /contact-info -->
	 
 </section> <!-- /contact -->


<!-- footer
================================================== -->

<footer>
	  <div class="row">

		  <div class="col-six tab-full pull-right social">

			  <ul class="footer-social">        
			   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			   <li><a href="#"><i class="fa fa-behance"></i></a></li>
			   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			   <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
			   <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			</ul> 
			   
	   </div>

	   <div class="col-six tab-full">
		   <div class="copyright">
				 <span>© Copyright Kards 2016.</span> 
				 <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>	         	
			  </div>		                  
		   </div>

		   <div id="go-top">
			  <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		   </div>

	   </div> <!-- /row -->     	
</footer>  

<div id="preloader"> 
	 <div id="loader"></div>
</div> 


</Layout>

<style>

</style>
