---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Abaout from '../components/Abaout.astro';
import WorkExp from '../components/WorkExp.astro';
import Proyects from '../components/Proyects.astro'; 
import SampleWork from '../components/SampleWork.astro';
import Services from '../components/Services.astro';
import Stats from '../components/Stats.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import FormEmail from '../components/form_email/FormEmail.vue';


---

<Layout title="Alberto Olave">

	<Header />
	<Banner />
	<Abaout />
	<WorkExp />
	<Proyects />
	<SampleWork />
	<Services />
	<Stats />
	<Contact />
	<!-- <FormEmail client:load/> -->
	<Footer />

	<div id="preloader"> 
		<div id="loader"></div>
	</div> 


</Layout>

<style>


</style>
