---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Alberto Olave">

    <strong>Proyectos</strong>
	<div id="preloader"> 
		<div id="loader"></div>
	</div> 


</Layout>

<style>

</style>
