---
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/HeaderSoftware.astro';
import SoftwareDeveloper from '../components/Software.astro';
import Layout from '../layouts/LayoutSoftware.astro';

---
<Layout title="Alberto Olave">

	<Header />
	<!-- <Banner /> -->
	<!-- <Abaout /> -->
	<!-- <WorkExp /> -->
	<SoftwareDeveloper />
	<!-- <SampleWork /> -->
	<!-- <Services /> -->
	<!-- <Stats /> -->
	<Contact />
	<!-- <FormEmail client:load/> -->
	<Footer />

	<div id="preloader"> 
		<div id="loader"></div>
	</div> 


</Layout>

<style>

