---
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Videos from '../components/Videos.astro';
import Header from '../components/HeaderSoftware.astro';
import Layout from '../layouts/LayoutSoftware.astro';

---
<Layout title="Alberto Olave">

	<Header />
	
    <Videos />
    
	<Contact />
	
	<Footer />

	<div id="preloader"> 
		<div id="loader"></div>
	</div> 


</Layout>


