---

---

<section id="about">  

	<div class="row section-intro">
		<div class="col-twelve">

			<h5>Acerca de mí</h5>
			<h1>Permíteme presentarme.</h1>

			<div class="intro-info">

				<img src="images/profile-pic.jpg" alt="Profile Picture">

				<p class="lead">
					Soy un desarrollador de software apasionado con una sólida experiencia en la creación de aplicaciones dinámicas y eficientes. Tengo experiencia en varios 
					lenguajes de programación, y 
					me especializo en desarrollo web y desarrollo mobil. Disfruto resolviendo problemas complejos y aprendiendo continuamente nuevas tecnologías para mejorar mis habilidades. 
					Ya sea trabajando en el front-end o el back-end, 
					mi objetivo es crear experiencias fluidas y fáciles de usar. Creo en el poder del código para impulsar la innovación y siempre estoy buscando nuevos proyectos emocionantes en los que contribuir y crecer.
				</p>
			</div>   			

		</div>   		
	</div> 

	<!-- * PERFIL -->

	<div class="row about-content">

		<div class="col-six tab-full">

			<h3>Perfil</h3>
			<p></p>

			<ul class="info-list">
				<li>
					<strong>Nombre:</strong>
					<span>Alberto Olave</span>
				</li>
				<li>
					<strong>Fecha de Nacimiento:</strong>
					<span>16 de enero de 1988</span>
				</li>
				<li>
					<strong>Cargos:</strong>
					<span>Desarrollador de software</span>
				</li>
				<li>
					<strong>Email:</strong>
					<span>luis.olave.carvajal@gmail.com</span>
				</li>

			</ul> 
		</div>

		<div class="col-six tab-full">

			<h3>Skills</h3>
			<p></p>
			
			<img style="width:88px" src="/images/icons/php.svg" alt="">
			<img style="width:88px" src="/images/icons/python.svg" alt="">
			<img style="width:88px" src="/images/icons/astro.svg" alt="">
			<img style="width:88px" src="/images/icons/angular.svg" alt="">
			<img style="width:88px" src="/images/icons/laravel.svg" alt="">
			<img style="width:88px" src="/images/icons/flutter.svg" alt="">
			<img style="width:88px" src="/images/icons/git.svg" alt="">

			

		</div>

	</div>

	<div class="row button-section">
		<div class="col-twelve">
			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Escribeme</a>
			<a href="#" title="Download CV" class="button button-primary">Descargar CV</a>
		</div>   		
	</div>

</section> <!-- /process-->    
