---

---

<header>   	
    <div class="row">

        <div class="top-bar">
            <a class="menu-toggle" href="#"><span>Menu</span></a>

            <div class="logo">
            <a href="/">MENU</a>
        </div>		      

            <nav id="main-nav-wrap">
                <ul class="main-navigation">
                    <li class="current"><a class="smoothscroll"  href="#intro" title="">Inicio</a></li>
                    <li><a class="smoothscroll"  href="#about" title="">Acerca de mí</a></li>
                    <li><a class="smoothscroll"  href="#resume" title="">Experiencia</a></li>
                    <li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
                    <li><a class="smoothscroll"  href="#services" title="">Servicios</a></li>					
                    <li><a class="smoothscroll"  href="#contact" title="">Contactame</a></li>	
                    <!-- <li><a href="styles.html" title="">Style Demo</a></li>				 -->
                </ul>
            </nav>    		
        </div> 
        
    </div> 
</header> 
