---

---

<section id="portfolio">

    <div class="row section-intro">
       <div class="col-twelve">

           <h5>Portfolio</h5>
           <h1>Mira algunos de mis trabajos.</h1>

           <p class="lead">
               El desarrollo de software móvil y web implica crear aplicaciones para dispositivos móviles y navegadores, adaptándose a diferentes plataformas. Se enfoca en ofrecer experiencias optimizadas y ágiles, combinando las mejores prácticas de desarrollo nativo, multiplataforma y web responsiva.
           </p>

       </div>   		
   </div> <!-- /section-intro--> 

   <div class="row portfolio-content">

       <div class="col-twelve">

           <!-- portfolio-wrapper -->
         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

             <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="images/proyectos/geo_cliente.webp" alt="Liberty">
                  <a href="#modal-01" class="overlay">	                  	           
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                                    <h3 class="folio-title">Geoclientes</h3>	     					    
                                      <span class="folio-types">
                                           Gestión y asistencia a clientes
                                    </span>
                                </div>	                      	
                     </div>                    
                  </a>
               </div>	               
                </div> <!-- /folio-item -->

                <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="images/proyectos/neumatruck.webp" alt="Shutterbug">
                   <a href="#modal-02" class="overlay">              		                  
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                           <h3 class="folio-title">Neumatruck</h3>	     					    
                                   <span class="folio-types">
                                   E-ommerce Neumáticos Para Camión
                               </span>		     		
                           </div> 	                      	
                     </div>                    
                  </a>
               </div>
                </div> <!-- /folio-item -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="images/proyectos/premium.webp"alt="Clouds">
                  <a href="#modal-03" class="overlay">             		                  
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Premium</h3>	     					    
                                     <span class="folio-types">
                                       E-commerce para distribuidores de productos automotrices
                                   </span>		     		
                                </div> 	                      	
                     </div>                    
                  </a>
               </div>
                </div> <!-- /folio-item -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="images/proyectos/neumaflotas.webp" alt="Beetle">
                  <a href="#modal-04" class="overlay">                  	                 
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Neumaflotas</h3>	     					    
                                     <span class="folio-types">
                                           Software de gerenciamiento de flotas vehiculares
                                   </span>		     		
                                </div>  	                      	
                     </div>                    
                  </a>
               </div>
           </div>

           <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="images/proyectos/neumagenda.webp" alt="Beetle">
                  <a href="#modal-04" class="overlay">                  	                 
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Neumagenda</h3>	     					    
                                     <span class="folio-types">
                                       Software para agendar y comunicación interna
                                   </span>		     		
                                </div>  	                      	
                     </div>                    
                  </a>
               </div>
           </div>
         
           <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="images/proyectos/neumaequipos.webp" alt="Beetle">
                  <a href="#modal-04" class="overlay">                  	                 
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Neumaequipos</h3>	     					    
                               <span class="folio-types">
                                   E-commerce de venta de productos para serviteca
                               </span>		     		
                           </div>  	                      	
                     </div>                    
                  </a>
               </div>
           </div>
       

               

            <!-- * modal popups - begin
            ============================================================= -->
            <div id="modal-01" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="images/portfolio/modals/m-liberty.jpg" alt="" />
                     </div>      	

                   <div class="description-box">
                      <h4>Liberty</h4>		      
                      <p>
                       <!-- En mi portfolio, podrás explorar una selección de mis proyectos más destacados, que incluyen desarrollos de software tanto para aplicaciones móviles como web. Cada trabajo refleja mi experiencia en crear soluciones innovadoras y funcionales, adaptadas a las necesidades específicas de los clientes. -->
                      </p>

                      <div class="categories">Web Development</div>			               
                   </div>

                 <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                      <a href="#" class="popup-modal-dismiss">Close</a>
                 </div>		      

               </div> <!-- /modal-01 -->

               <div id="modal-02" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="images/portfolio/modals/m-shutterbug.jpg" alt="" />
                     </div>      	

                   <div class="description-box">
                      <h4>Shutterbug</h4>		      
                      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                      <div class="categories">Web Design</div>			               
                   </div>

                 <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                      <a href="#" class="popup-modal-dismiss">Close</a>
                 </div>		      

               </div> <!-- /modal-02 -->

               <div id="modal-03" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="images/portfolio/modals/m-clouds.jpg" alt="" />
                     </div>      	

                   <div class="description-box">
                      <h4>Clouds</h4>		      
                      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                      <div class="categories">Web Design</div>			               
                   </div>

                 <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                      <a href="#" class="popup-modal-dismiss">Close</a>
                 </div>		      

               </div> <!-- /modal-03 -->

               <div id="modal-04" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="images/portfolio/modals/m-beetle.jpg" alt="" />
                     </div>      	

                   <div class="description-box">
                      <h4>Beetle</h4>		      
                      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                      <div class="categories">Branding</div>			               
                   </div>

                 <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                      <a href="#" class="popup-modal-dismiss">Close</a>
                 </div>		      

               </div> <!-- /modal-04 -->

               <div id="modal-05" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="images/portfolio/modals/m-lighthouse.jpg" alt="" />
                     </div>      	

                   <div class="description-box">
                      <h4>Lighthouse</h4>		      
                      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                      <div class="categories">Web Development</div>			               
                   </div>

                 <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                      <a href="#" class="popup-modal-dismiss">Close</a>
                 </div>		      

               </div> <!-- /modal-05 -->

               <div id="modal-06" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="images/portfolio/modals/m-salad.jpg" alt="" />
                     </div>      	

                   <div class="description-box">
                      <h4>Salad</h4>		      
                      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                      <div class="categories">Branding</div>			               
                   </div>

                 <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                      <a href="#" class="popup-modal-dismiss">Close</a>
                 </div>		      

               </div> <!-- /modal-06 -->


               <!-- modal popups - end
            ============================================================= -->

          </div> <!-- /portfolio-wrapper --> 
          
        </div>  <!-- /twelve -->   
        
      </div> <!-- /portfolio-content --> 
      
      <div id="cta">
        <div class="row cta-content">
          <div class="col-twelve section-ads">  
             <div class="action">
               <a class="button button-primary large"  href="/software">ver más</a>
             </div>		     	
          </div>
        </div> 
      </div>
</section> <!-- /portfolio --> 
