---
import CardPrincipal from "./card_principal/CardPrincipal.astro";


---

<section id="portfolio">

    <div class="row section-intro">
       <div class="col-twelve">

           <h5>Portfolio</h5>
           <h1>Mira algunos de mis trabajos.</h1>

           <p class="lead">
               El desarrollo de software móvil y web implica crear aplicaciones para dispositivos móviles y navegadores, adaptándose a diferentes plataformas. Se enfoca en ofrecer experiencias optimizadas y ágiles, combinando las mejores prácticas de desarrollo nativo, multiplataforma y web responsiva.
           </p>

       </div>   		
   </div> <!-- /section-intro--> 

  <div class="row portfolio-content">
    <div class="col-twelve">
      <div id="folio-wrapper" class="block-1-2 block-mob-full stack">
        <CardPrincipal />  

          </div> <!-- /portfolio-wrapper --> 
          
        </div>  <!-- /twelve -->   
        
      </div> <!-- /portfolio-content --> 
      
      <div id="cta">
        <div class="row cta-content">
          <div class="col-twelve section-ads">  
             <div class="action">
               <a class="button button-primary large"  href="/software">ver más</a>
             </div>		     	
          </div>
        </div> 
      </div>
</section> <!-- /portfolio --> 
