---

---


<section id="cta" class="grey-section">
	<div class="row cta-content">
		<div class="col-twelve section-ads">  
			  <h2 class="h01">Muestra de Mi Trabajo</h2>
		   <p class="lead">
			En mi portfolio, podrás explorar una selección de mis proyectos más destacados, que incluyen desarrollos de software tanto para aplicaciones móviles como web. Cada trabajo refleja mi experiencia en crear soluciones innovadoras y funcionales, adaptadas a las necesidades específicas de los clientes.
			 </p>
			 <div class="action">
			   <a class="button button-primary large"  href="#contact">Contactame</a>
		   </div>		     	
		</div>
	</div> 
</section>