---
import CardVideos from "./CardVideos.astro";

import { getVideos } from '../services/videosController';


const videoYoutube = getVideos().reverse();
---

<section id="portfolio">

    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Videos</h5>
            <h1>Tutoriales.</h1>
        </div>   		
    </div> <!-- /section-intro--> 

    <ul class="cards">
        {
            videoYoutube.map((data) => (
                <CardVideos id={data.id} title={data.title} type={data.type}  imgUrl={data.img} />
            ))
          }
    </ul>
    
</section>



<style>
 .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
</style>