---

---


<section id="resume" class="grey-section">


   <div class="row resume-timeline">

       <div class="col-twelve resume-header">

           <h2>Experiencia Laboral</h2>

       </div> <!-- /resume-header -->


       <div class="col-twelve">
           <!-- * NEUMACHILE LTDA -->
           <div class="timeline-wrap">
               <div class="timeline-block">
                   <div class="timeline-ico">
                       <i class="fa fa-briefcase"></i>
                   </div>
                   <div class="timeline-header">
                       <h3>WEB DEVELOPER</h3>
                       <p>2021 - ACTUALIDAD</p>
                   </div>
                   <div class="timeline-content">
                       <h4>URRUTIA Y OTAROLA LTDA</h4>
                       <p>
                           Desarrollo web en PHP con experiencia en Laravel 7, 8 y 9, así como en el desarrollo de software administrativo con Laravel. 
                           Conocimientos en la creación de APIs y web services para e-commerce, así como en el desarrollo de aplicaciones en Django. 
                           Experiencia en el desarrollo de aplicaciones de escritorio para la administración de datos en Python. 
                           Capacidad para realizar integraciones con plataformas como Transbank, SAP y WordPress, y habilidades en la administración de correo electrónico, 
                           hardware y conexión de red. Además, experiencia en el desarrollo móvil con Flutter, 
                           creando aplicaciones eficientes y de alto rendimiento para múltiples plataformas.
                       </p>
                   </div>
               </div> 
           </div> 

           <!-- * INGENIOPC -->
           <div class="timeline-wrap">
               <div class="timeline-block">
                   <div class="timeline-ico">
                       <i class="fa fa-briefcase"></i>
                       <!-- <i class="fa fa-graduation-cap"></i> -->
                   </div>
                   <div class="timeline-header">
                       <h3>SOFTWARE DEVELOPER</h3>
                       <p>2015 - 2019</p>
                   </div>
                   <div class="timeline-content">
                       <h4>INGENIOPC</h4>
                       <p>
                           Desarrollo web utilizando PHP y el framework Laravel, así como en la creación de software de gestión y 
                           administración utilizando Python. También en la creación de software para el control de inventarios y en el desarrollo de software contable utilizando Python. 
                           Además, habilidades en el mantenimiento de estos sistemas y en el desarrollo de Front-End utilizando Bootstrap.
                       </p>
                   </div>
               </div> 
           </div> 

           <!--  *  NOVASPORTS -->
           <div class="timeline-wrap">
               <div class="timeline-block">
                   <div class="timeline-ico">
                       <i class="fa fa-briefcase"></i>
                   </div>
                   <div class="timeline-header">
                       <h3>SOFTWARE DEVELOPER</h3>
                       <p>2015 - 2021</p>
                   </div>
                   <div class="timeline-content">
                       <h4>NOVASPORTS</h4>
                       <p>
                           Software de gestión en Python, desarrollo web en PHP nativo. Mantenimiento de servicios de email, red y mejoras del software. 
                           Administrador de red y servidores NAS y web.
                       </p>
                   </div>
               </div> 
           </div> 

           <!-- * STARGYM -->
           <div class="timeline-wrap">
               <div class="timeline-block">
                   <div class="timeline-ico">
                       <i class="fa fa-briefcase"></i>
                   </div>
                   <div class="timeline-header">
                       <h3>SOFTWARE DEVELOPER</h3>
                       <p>2013 - 2015</p>
                   </div>
                   <div class="timeline-content">
                       <h4>STARGYM</h4>
                       <p>
                           Software de gestión en Python, desarrollo web en PHP nativo. Mantenimiento de servicios de email, red y mejoras del software. 
                           Administrador de red y servidor, desarrollo de software para control de acceso y gestión contable, control de acceso biométrico con VB y Python.
                       </p>
                   </div>
               </div> 
           </div> 
           
           
           
           


       </div> <!-- /col-twelve -->
       
   </div> <!-- /resume-timeline -->
   
   <div class="row resume-timeline">

       <div class="col-twelve resume-header">

           <h2>Education</h2>

       </div> <!-- /resume-header -->

       <div class="col-twelve">

           <div class="timeline-wrap">
               <!-- * ciber seguridad -->
               <div class="timeline-block">
                   <div class="timeline-ico">
                       <i class="fa fa-briefcase"></i>
                   </div>
                   <div class="timeline-header">
                       <h3>2024</h3>
                       <!-- <p>2023</p> -->
                   </div>
                   <div class="timeline-content">
                       <h4>DIPLOMADO CIBER SEGURIDAD</h4>
                       <p>Universidad De Chile</p>
                       <!-- <p>
                           
                       </p> -->
                   </div>
               </div> <!-- /timeline-block -->

               <div class="timeline-block">
                   <div class="timeline-ico">
                       <i class="fa fa-briefcase"></i>
                   </div>
                   <div class="timeline-header">
                       <h3>2023</h3>
                       <!-- <p>2023</p> -->
                   </div>
                   <div class="timeline-content">
                       <h4>DIPLOMADO DATA SCIENCE AND MACHINE LEARNING</h4>
                       <p>Pontificia Universidad Católica de Chile</p>
                   
                   </div>
               </div> <!-- /timeline-block -->
               
               <div class="timeline-block">
                   <div class="timeline-ico">
                       <i class="fa fa-briefcase"></i>
                   </div>
                   <div class="timeline-header">
                       <h3>2022</h3>
                   </div>
                   <div class="timeline-content">
                       <h4>CURSOS PYTHON, JS, TS, HTML, ETC</h4>
                       <p>Udemy, Platzi</p>
                   
                   </div>
               </div> <!-- /timeline-block -->

               <div class="timeline-block">
                   <div class="timeline-ico">
                       <i class="fa fa-briefcase"></i>
                   </div>
                   <div class="timeline-header">
                       <h3>2006 - 2008</h3>
                       <!-- <p>2023</p> -->
                   </div>
                   <div class="timeline-content">
                       <h4>AUDITORIA</h4>
                       <p>U. NACIONAL ANDRES BELLO</p>
                       <!-- <p>
                           
                       </p> -->
                   </div>
               </div> <!-- /timeline-block -->


               

           </div> <!-- /timeline-wrap -->   			

       </div> <!-- /col-twelve -->
       
   </div> <!-- /resume-timeline -->
    
</section> <!-- /features -->
